
.ht0{
height :0%;
}

.ht5{
height :5%;
}

.ht10{
height :10%;
}

.ht15{
height :15%;
}

.ht20{
height :20%;
}

.ht25{
height :25%;
}

.ht30{
height :30%;
}

.ht35{
height :35%;
}

.ht40{
height :40%;
}

.ht45{
height :45%;
}

.ht50{
height :50%;
}

.ht55{
height :55%;
}

.ht60{
height :60%;
}

.ht65{
height :65%;
}

.ht70{
height :70%;
}

.ht75{
height :75%;
}

.ht80{
height :80%;
}

.ht85{
height :85%;
}

.ht90{
height :90%;
}

.ht95{
height :95%;
}

.ht100{
height :100%;
}

.wd0{
width :0%;
}

.wd5{
width :5%;
}

.wd10{
width :10%;
}

.wd15{
width :15%;
}

.wd20{
width :20%;
}

.wd25{
width :25%;
}

.wd30{
width :30%;
}

.wd35{
width :35%;
}

.wd40{
width :40%;
}

.wd45{
width :45%;
}

.wd50{
width :50%;
}

.wd55{
width :55%;
}

.wd60{
width :60%;
}

.wd65{
width :65%;
}

.wd70{
width :70%;
}

.wd75{
width :75%;
}

.wd80{
width :80%;
}

.wd85{
width :85%;
}

.wd90{
width :90%;
}

.wd95{
width :95%;
}

.wd100{
width :100%;
}

.ml0{
margin-left :0%;
}

.ml5{
margin-left :5%;
}

.ml10{
margin-left :10%;
}

.ml15{
margin-left :15%;
}

.ml20{
margin-left :20%;
}

.ml25{
margin-left :25%;
}

.ml30{
margin-left :30%;
}

.ml35{
margin-left :35%;
}

.ml40{
margin-left :40%;
}

.ml45{
margin-left :45%;
}

.ml50{
margin-left :50%;
}

.ml55{
margin-left :55%;
}

.ml60{
margin-left :60%;
}

.ml65{
margin-left :65%;
}

.ml70{
margin-left :70%;
}

.ml75{
margin-left :75%;
}

.ml80{
margin-left :80%;
}

.ml85{
margin-left :85%;
}

.ml90{
margin-left :90%;
}

.ml95{
margin-left :95%;
}

.ml100{
margin-left :100%;
}

.mt0{
margin-top :0%;
}

.mt5{
margin-top :5%;
}

.mt10{
margin-top :10%;
}

.mt15{
margin-top :15%;
}

.mt20{
margin-top :20%;
}

.mt25{
margin-top :25%;
}

.mt30{
margin-top :30%;
}

.mt35{
margin-top :35%;
}

.mt40{
margin-top :40%;
}

.mt45{
margin-top :45%;
}

.mt50{
margin-top :50%;
}

.mt55{
margin-top :55%;
}

.mt60{
margin-top :60%;
}

.mt65{
margin-top :65%;
}

.mt70{
margin-top :70%;
}

.mt75{
margin-top :75%;
}

.mt80{
margin-top :80%;
}

.mt85{
margin-top :85%;
}

.mt90{
margin-top :90%;
}

.mt95{
margin-top :95%;
}

.mt100{
margin-top :100%;
}

.fts01{
font-size :0.1rem;
}

.fts02{
font-size :0.2rem;
}

.fts03{
font-size :0.3rem;
}

.fts04{
font-size :0.4rem;
}

.fts05{
font-size :0.5rem;
}

.fts06{
font-size :0.6rem;
}

.fts07{
font-size :0.7rem;
}

.fts08{
font-size :0.8rem;
}

.fts09{
font-size :0.9rem;
}


.fts1{
font-size :1rem;
}

.fts2{
font-size :2rem;
}

.fts3{
font-size :3rem;
}

.fts4{
font-size :4rem;
}

.fts5{
font-size :5rem;
}

.fts6{
font-size :6rem;
}

.fts7{
font-size :7rem;
}

.fts8{
font-size :8rem;
}

.fts9{
font-size :9rem;
}

.fts10{
font-size :10rem;
}

